@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --unnamed-color-29313a: #29313a;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-f7b924: #f7b924;
  --unnamed-color-545a61: #545a61;
  --unnamed-color-000000: #000000;
  --unnamed-color-7c828a: #7c828a;
  --unnamed-color-3f6ad8: #3f6ad8;
  --unnamed-color-3ac47d: #3ac47d;
  --unnamed-color-dbf724: #dbf724;
  --unnamed-color-d92550: #d92550;
  --unnamed-color-181d23: #181d23;
  --unnamed-color-707070: #707070;
  --unnamed-color--794c8a: #794c8a;
}

body {
  margin: 0;
  background: var(--unnamed-color-181d23) 0% 0% no-repeat padding-box !important;
  background: #181d23 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}

.app-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 6.46cm 1fr;
  grid-template-rows: 1.6cm 0.6fr;
  grid-template-areas:
    "sidebar nav"
    "sidebar scroll-cards"
    "sidebar table";
}

#nav {
  grid-area: nav;
}

#sidebar {
  grid-area: sidebar;
}

#scroll-cards {
  grid-area: scroll-cards;
}

#table {
  grid-area: table;
}

.p-sidebar {
  top: 0px !important;
  left: 0px !important;
  width: 245px !important;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box !important;
  background: #000000 0% 0% no-repeat padding-box !important;
  background-image: linear-gradient(to top, #000000 91.8%, #29313a 8.2%) !important;
  box-shadow: 0px 2px 15px #00000029 !important;
  opacity: 1 !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 1300px) {
  .p-sidebar{
    background-image: linear-gradient(to top, #000000 90%, #29313a 10%) !important;
  }
}



.p-menubar-button {
  display: none !important;
}

.logo {
  /* background: var(--unnamed-color-29313a) 0% 0% no-repeat padding-box !important;
  background: #29313a 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 2px 12px #00000029 !important; */
  margin-top: -10px !important;
  padding-left: 10px !important;
}

.p-menubar {
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  height: 60px !important;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box !important;
  background: #000000 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 2px 12px #00000029 !important;
  opacity: 1 !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
}

.p-menubar-start {
  top: 16px !important;
  left: 263px !important;
  width: 261px !important;
  height: 27px !important;
  color: var(--unnamed-color-f7b924) !important;
  text-align: left !important;
  font: normal normal normal 22px/27px Montserrat !important;
  letter-spacing: 0px !important;
  color: #f7b924 !important;
  opacity: 1 !important;
  /* padding-left: 10px !important; */
  margin-left: 12px !important;
}

.p-menubar-end {
  margin-right: 12px !important;
}

.sidenav-buttons {
  background: none !important;
  border: none !important;
  text-decoration: none !important;
  margin-bottom: 2vmax !important;
  text-decoration: none !important;
  margin-top: 1vmax !important;
  margin-bottom: 1vmax !important;
  text-transform: uppercase !important;
  height: 40px !important;
  width: 205px !important;
}
.sidenav-buttons-active {
  color: white !important;
  background-color: #f7b924 !important;
  width: 205px !important;
  height: 40px !important;
  text-align: left !important;
  margin-bottom: 2vmax !important;
  border: none !important;
  /* margin-top: 2vmax !important; */
  text-decoration: none !important;
  margin-top: 1vmax !important;
  margin-bottom: 1vmax !important;
  text-transform: uppercase !important;
}



.sidenav-buttons:hover {
  width: 205px !important;
  height: 40px !important;
  text-decoration: none !important;
  border-radius: 3px !important;
  border: none !important;
  opacity: 1 !important;
  background: #ebaf00 0% 0% no-repeat padding-box !important;
  text-decoration: none !important;
}
.sidenav-buttons:hover > .p-button-label {
  color: #ffffff !important;
}

.sidenav-buttons .p-button-label {
  top: 97px !important;
  left: 37px !important;
  width: 47px !important;
  height: 15px !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: left !important;
  font: normal normal 600 12px/15px Montserrat !important;
  letter-spacing: 0px !important;
  color: var(--unnamed-color-f7b924);
  color: #f7b924 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}

hr.divider-line {
  background: #cacaca !important;
  height: 1px !important;
  opacity: 1 !important;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #20272e;
}
::-webkit-scrollbar-thumb {
  background: #29313a;
}

/* .p-scrollpanel-bar-x{
  width: 30px !important;
} */


.title {
  top: 81px !important;
  left: 275px !important;
  width: 63px !important;
  height: 19px !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: left !important;
  font: normal normal 600 16px/19px Montserrat !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}

.p-card {
  top: 142px !important;
  left: 275px !important;
  width: fit-content !important;
  height: 137px !important;
  background: var(--unnamed-color-29313a) 0% 0% no-repeat padding-box !important;
  /* border: 1px solid var(--unnamed-color-f7b924) !important; */
  background: #29313a 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 8px #00000029 !important;
  opacity: 1 !important;
}

.card-active{
top: 142px !important;
  left: 275px !important;
  width: fit-content !important;
  height: 137px !important;
  background: var(--unnamed-color-29313a) 0% 0% no-repeat padding-box !important;
  border: 1px solid var(--unnamed-color-f7b924) !important;
  background: #29313a 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 8px #00000029 !important;
  opacity: 1 !important;
}

.p-card-title {
  top: 155px !important;
  left: 290px !important;
  /* width: 76px !important; */
  height: 19px !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: left !important;
  font: normal normal 600 15px Montserrat !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  opacity: 1 !important;
}

.p-card-content{
  padding: 0rem !important;
}

.p-scrollpanel {
  width: 1230px !important;
}

@media only screen and (max-width: 1300px) {
  .p-scrollpanel {
    width: 925px !important;
  }
}

.p-scrollpanel:hover .p-scrollpanel-bar,
.p-scrollpanel:active .p-scrollpanel-bar {
  opacity: none !important;
}

.p-scrollpanel .p-scrollpanel-bar {
  background: none !important;
  border: none none !important;
}
.p-scrollpanel-hidden {
  visibility: hidden;
}

.inner-content {
  width: 87px !important;
  height: 62px !important;
  background: #20272e 0% 0% no-repeat padding-box !important;
  border-radius: 3px !important;
  opacity: 1 !important;
  padding: 10px !important;
  padding-top: 15px !important;
}

.inner-content-title {
  color: var(--unnamed-color-f7b924) !important;
  text-align: left !important;
  font: normal normal medium Montserrat !important;
  font-size: 8px !important;
  letter-spacing: 0px !important;
  color: #f7b924 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
  font: bolder !important;
}

.inner-content-title-1 {
  top: 218px !important;
  left: 300px !important;
  width: 35px !important;
  height: 24px !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: left !important;
  font: normal normal 600 20px/24px Montserrat !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  opacity: 1 !important;
}

.p-datatable-header {
  background: var(--unnamed-color-29313a) 0% 0% no-repeat padding-box !important;
  background: #29313a 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  border: none !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: left !important;
  font: normal normal 600 16px/19px Montserrat !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
}
.p-datatable-thead > tr > th {
  background: var(--unnamed-color-29313a) 0% 0% no-repeat padding-box !important;
  background: #29313a 0% 0% no-repeat padding-box !important;
  border-top: 1px solid rgba(255, 255, 255, 0.719) !important;
  opacity: 1 !important;
  height: 43px !important;
}

.data-table{
  border-top: 1px solid rgba(255, 255, 255, 0.719) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.719) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.719) !important;
}

/* .data-column>tbody>tr>td{
  background: #3ac47d !important;
  background-color: #3ac47d !important;
} */

.p-column-title {
  color: var(--unnamed-color-f7b924) !important;
  text-align: left !important;
  font: normal normal bold 14px/18px Montserrat !important;
  letter-spacing: 0px !important;
  color: #f7b924 !important;
  opacity: 1 !important;
}

.p-button-rounded {
  background-color: #ffffff !important;
  outline: none !important;
  border: none !important;
}

.p-datatable-tbody > tr > td {
  background: var(--unnamed-color-29313a) 0% 0% no-repeat padding-box !important;
  background: #29313a 0% 0% no-repeat padding-box !important;
  border-top: 1px solid rgba(255, 255, 255, 0.719) !important;
  opacity: 1 !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: left !important;
  font: normal normal normal 14px/18px Montserrat !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  opacity: 1 !important;
  height: 43px !important;
}
.band {
  top: 303px !important;
  left: 275px !important;
  height: 50px !important;
  background: #111418 0% 0% no-repeat padding-box !important;
  border-radius: 5px !important;
  opacity: 1 !important;
  /* display: inline-flex !important; */
  width: auto !important;
}
.band-text {
  color: var(--unnamed-color-f7b924) !important;
  text-align: left !important;
  font: normal normal medium 12px/15px Montserrat !important;
  letter-spacing: 0px !important;
  color: #f7b924 !important;
  opacity: 1 !important;
  padding: 13px !important;
  width: 180px !important;
  text-transform: capitalize !important;
  display: inline-flex !important;
}
.band-highlight {
  background: #0c0e11 0% 0% no-repeat padding-box !important;
  border-radius: 5px 0px 0px 5px !important;
  opacity: 1 !important;
}
.band-text-1 {
  top: 322px !important;
  left: 424px !important;
  width: 20vmax !important;
  height: 13px !important;
  color: var(--unnamed-color-f7b924);
  text-align: left !important;
  font: normal normal medium 10px/13px Montserrat !important;
  letter-spacing: 0px !important;
  color: #f7b924 !important;
  opacity: 1 !important;
  padding: 13px !important;
  text-transform: capitalize !important;
  display: inline-flex !important;
}

/* .band-text-2{

} */

.band-text-1 > p {
  text-align: left !important;
  font: normal normal medium 10px/13px Montserrat !important;
  letter-spacing: 0px !important;
  color: #f2f2f2 !important;
  opacity: 1 !important;
}

.band-flex {
  display: inline-flex !important;
}

.band-search-div {
  float: right !important;
  padding-top: 10px !important ;
  padding-right: 5px !important;
}

@media only screen and (max-width: 1300px) {
  .band-search-div {
    margin-top: -50px !important;
  }
}

.band-search {
  width: 213px !important;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border-radius: 5px !important;
  opacity: 0.2 !important;
}
.band-search::placeholder {
  color: var(--unnamed-color-7c828a) !important;
  text-align: left !important;
  font: normal normal medium 12px/15px Montserrat !important;
  letter-spacing: 0px !important;
  color: #7c828a !important;
  opacity: 1 !important;
}

.link{
  text-decoration: none !important;
}

@media only screen and (max-width: 550px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1.6cm 6.5cm 1fr;
    grid-template-areas:
      "nav"
      "scroll-cards"
      "table";
  }
  #sidebar {
    grid-area: sidebar;
    display: none;
  }
  .p-menubar-start {
    padding-bottom: 50px !important;
  }
}

.p-paginator {
  background-color: #29313a !important;
}

.search-text{
  color: var(--unnamed-color-7c828a);
  font-family: Montserrat !important;
  opacity: 1 !important;
}

.p-inputtext{
  background-color: #464a4f !important;
  border-color: var(--unnamed-color-f7b924) !important;
  color: var(--unnamed-color-f7b924) !important;
  border-radius: 1px !important;
  width: 250px !important;
}

.input-value{
  /* border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important; */
  width: 533px !important;

}

.p-dropdown{
  border-color: var(--unnamed-color-f7b924) !important;
  border-radius: 1px !important;
}

.p-dropdown-label{
  border-color: var(--unnamed-color-f7b924) !important;
  
}

.p-dropdown-trigger-icon{
  color: var(--unnamed-color-f7b924) !important;
}

.p-dropdown-trigger {
  background-color: #464a4f !important;
  border-radius: 1px !important;
  
}

.p-row-toggler:hover{
background-color: #373e47 !important;
}

.p-row-toggler-icon{
  color: #7c828a !important;
}

.inline-table>span{
  /* paddingRight:"100px" */
  padding-right: 100px !important;
  padding-left: 10px !important;
  color: var(--unnamed-color-f7b924) !important;
}

/* .information>tbody>tr>td{
  border: none !important;
  background-color: #3ac47d !important;
  background: #3ac47d !important;
} */

.product-badge.status-installed{
  color: #ffffff;
  /* font-family: montserrat; */
  border-left: 4px solid #3f6ad8;
  font-weight: lighter;
  outline: none;
  background: #545a61;
}

.p-column-filter{
  width: 13vmax !important;
}