.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Login page*/

.login {
  display: block;
  border-color: black;
  background-color: rgb(208, 211, 214);
}

.logo-img-container {
  padding: 2em;
  padding-top: 4em;
}

.logo-img {
  width: 250px;
  height: 200px;
}
.login-title {
  text-align: center;
  margin-top: 1em;
}
.loginform {
  padding-right: 1em;
  padding-bottom: 1em;
}
.forget-password-link {
  text-align: right;
  float: right;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}

.dashboardheader {
  display: inline-block;
}

.p-menubar {
  position: fixed !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  top: 0px !important;
  left: 0px !important;
  width: 99vmax !important;
  height: 60px !important;
  opacity: 100% !important;
}
.p-button {
  background-color: black !important;
  color: #f7b924 !important;
  border-color: white !important;
  margin: 7px !important;
}


.title {
  margin-top: 16px !important;
  margin-left: 263px !important;
  opacity: 1;
  /* font-family: "Montserrat" !important; */
  font: normal normal normal 22px/27px Montserrat;
  width: 261px !important;
  height: 45px !important;
  text-align: left !important;
  /* font: normal normal normal 22px/27px Montserrat !important; */
  letter-spacing: 0px !important;
  color: #f7b924 !important;
  opacity: 1 !important;
}
.p-splitbutton {
  background-color: #000000 !important;
  color: #f7b924 !important;
  border-color: white !important;
}

.p-sidebar-left {
  top: 0px !important;
  left: 0px !important;
  width: 245px !important;
  height: 766px !important;
  background-color: #000000 !important;
  opacity: 100% !important;
}
.porklogic-img {
  margin-top: -16px;
  margin-right: -16px;
  left: 0px;
  width: 245px;
  height: 60px;
  background: var(--unnamed-color-29313a) 0% 0% no-repeat padding-box;
  background: #181d23 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 12px #00000029;
  /* opacity: 0.36; */
  float: right !important;
  /* padding-top: 2% !important; */
  /* padding-right: 16% !important; */
}
.homepagebody {
  background: #181d23;
  margin-top: 60px;
  height: 55vmax;
  /* overflow: auto; */
  /* font-family: "Montserrat" !important; */
  /* margin-left: -195px; */
}
.p-card {
  /* margin-top: 42px !important;
  margin-left: 275px !important; */
  width: 485px !important;
  height: 137px !important;
  background: var(--unnamed-color-29313a) 0% 0% no-repeat padding-box !important;
  border: 1px solid var(--unnamed-color-f7b924) !important;
  background: #29313a 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 8px #00000029 !important;
  /* border: 1px solid #f7b924 !important; */
  opacity: 1 !important;
}
.p-card:hover {
  border: 1px solid #f7b924 !important;
  /* border: 1px solid #f7b924 !important;
  border-width: 0 3px 3px 0 !important;
  display: inline-block !important;
  padding: 3px !important;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important; */
  /* stroke-miterlimit: unset; */
}
.p-sidebar-close-icon,
.pi-times {
  display: none !important;
}

/* .p-sidebar-close:hover {
  display: none !important;
} */
/* .p-sidebar-icon:hover {
  display: none !important;
} */
.p-sidebar-close {
  display: none !important;
}
/* .p-sidebar-icon {
  display: none !important;
} */
.p-link:hover {
  display: none !important;
}
.device {
  margin-top: -5px !important;
  margin-left: 275px !important;
  width: 63px !important;
  height: 12px !important;
  font: normal normal 600 16px/19px Montserrat;
  color: var(--unnamed-color-ffffff) !important;
  text-align: left !important;
  /* font: normal normal 600 16px/19px Montserrat; */
  letter-spacing: 0px !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}
.divider {
  margin-top: 25px !important;
  margin-left: 276px !important;
  width: 79vw !important;
  height: 0px !important;
  border: 1px solid hsl(0, 0%, 79%) !important;
  opacity: 0.5 !important;
}
/* y */
.sidenavbar {
  top: 0px;
  float: left;
  left: 0px;
  width: 245px;
  height: 100vh;
  background-color: #000000 !important;
  opacity: 100%;
}

.sideNav {
  width: 15vw !important;
  /* font: normal normal 600 12px/15px Montserrat !important; */
  /* font-weight: 'SemiBold' !important;
  font-family: 'Montserrat' !important; */
  font-size: 12px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase;
  height: 100vh;
  background: #000000 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 2px 15px #00000029;
  opacity: 1;
  position: fixed;
}
.SideNavText {
  margin-left: 1cm;

  text-decoration: none;
}

.SideNavColo {
  color: #ebaf00 !important;
  /* font-family: "Montserrat" !important; */
  background-color: #000000 !important;
  margin-top: 25px !important;
  text-align: left;
  font: normal normal 600 12px/15px Montserrat !important;
  letter-spacing: 0px;
  /* color: #FFFFFF; */
  text-transform: uppercase;
  opacity: 1;
  border-color: #000000 !important;
}
.SideNavColo:hover {
  color: white !important;
  background-color: #ebaf00 !important;
  text-align: left;
  font: normal normal 600 12px/15px Montserrat !important;
  letter-spacing: 0px;
  opacity: 1;
  border-radius: 3px !important;
  width: 205px;
  height: 40px;
  /* background-size: 300px 100px;
  text-decoration: none;
  width: 3cm;
  height: 2cm;
  padding-right: 10mm;
  padding-top: 2mm;
  padding-bottom: 2mm;
  padding-left: 3mm;
  border-radius: 2%; */
}
/* .installed {
  margin-top: 189px !important;
  margin-left: 290px !important;
  width: 87px !important;
  height: 62px !important;
  background: #20272e 0% 0% no-repeat padding-box !important;
  border-radius: 3px !important;
  opacity: 1 !important;
} */
.cardButton {
  background: #29313a 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 8px #00000029 !important;
  border: 1px solid #f7b924 !important;
}
.Card {
  background-color: #29313a !important;
}
.CardTitle {
  color: #ffffff !important;
  font-size: 16px;
  margin-top: -20px;
}

.grid {
  margin-top: 7px;
  background-color: #20272e !important;
  color: #f7b924 !important;
  font-variant: small-caps;
  margin-right: 6px;
  border-radius: 3px !important;
  font-size: 12px;
}
.grid:hover {
  border: 1px solid #f7b924 !important;
}

.grid-Content {
  color: #ffffff;
  font-size: 20px;
}

.scrollpanel-demo .p-scrollpanel p {
  padding: 0.5rem;
  line-height: 0.5;
  margin: 0;
}

/* .scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-wrapper {
  border-right: 10px solid var(--surface-b);
}

.scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-bar {
  background-color: var(--primary-color);
  opacity: 1;
  transition: background-color 0.2s;
} */

/* .scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover {
  background-color: #007ad9;
} */

/* .scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-wrapper {
  border-right: 10px solid var(--surface-b);
  border-bottom: 10px solid var(--surface-d);
} */

.scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-bar {
  background-color: var(--surface-d);
  border-radius: 6px;
  opacity: 0.2;
  background-color: #ffffff;
  /* border-color: aqua !important; */
  transition: background-color 0.2s;
}
.scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-bar-y {
  display: none !important;
}

.scrollpanel-demo .p-col-12 {
  padding: 2rem;
}

.p-toolbar {
  background-color: #000000 !important;
  opacity: 0.5 !important;
  border: none !important;
  height: 50px !important;
  /* width: 965px !important; */
  margin-left: 275px !important;
}
.p-toolbar-group-left {
  color: #f7b924;
}
.toolbar-inputtext {
  width: 213px;
  height: 30px;
  opacity: 20%;
  background-color: #000000 !important;
}
.p-datatable-thead > tr > th {
  background-color: #29313a !important;
  color: #f7b924 !important;
}
.p-datatable-tbody > tr > td {
  background-color: #29313a;
  color: #ffffff !important;
}

.table-data {
  opacity: 0.5 !important;
}

.p-datatable {
  left: 25px;
  /* width: 1199px; */
  width: 79vmax;
  height: 369px;
}
.tablecard {
  background-color: #181d23 !important;
}
.pi{
  font-size: 25px !important;
}

.datatable-rowexpansion-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-rowexpansion-demo .orders-subtable {
    padding: 1rem;
}